<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSSiriUsageDescription</key>
	<string>TaskMaster uses Siri to let you add and manage tasks hands-free.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>AddTaskIntent</string>
		<string>CompleteTaskIntent</string>
		<string>DeleteTaskIntent</string>
		<string>ListTasksIntent</string>
		<string>FindTaskIntent</string>
		<string>SeedDemoDataIntent</string>
	</array>
	<key>RCTNewArchEnabled</key>
	<true/>
</dict>
</plist>
